@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

h2 {
	font-weight: bold;
	margin-left: 40;
    justify-content: center;
    align-items: center;
}
.container-customer{
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
	font-family: 'Montserrat', sans-serif;
    width : 100%;
	height: 100%;
	margin: -20px 0 50px;
}

div.image{
    position: fixed;
    width: 500px;
    left: 800px;
    top: 200px;
}
.form-register{
    background-color: #f1ebeb;
    font-size: medium;
	display: flex;
	align-items: left;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 160%;
   
	text-align: center;
    position: absolute;
    left: 20px;
    margin: 60px;

}